.container{  
    max-width: 900px;
    background: white;
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}


.info{
    padding: 10px;
    background: var(--silver);
}

.info h4{
    text-align: right;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    background: rgb(255, 255, 255);
}

.name{
 padding: 5px;
}

.value{
    color: #636666;
    font-weight: 700;
    padding: 5px;
}


.image{

}

.image img{
    max-width:100%;
    max-height:100%;
    object-fit:cover;
}


@media screen and (max-width:992px) {
    .image img{
        width: 100vw;
        vertical-align: middle;
    }

    .info{
        width: 100vw;
    }

}
