/* _________ Footer _________ */
.all {
  background-color: var(--secondaryColor);
}
.footer {
  max-width: 1800px;
  margin: auto;
  padding: 10px;
  text-align: center;
  color: var(--textColor);
  display: flex;
  flex-wrap: wrap;
}

.foot {
  border-top: 2px solid white;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.foot a {
  color: var(--textColor);
  text-decoration: underline;
}

.foot a:hover {
  color: white;
}


