.result_container{
    border: 3px solid #81a0aa ;
    border-radius: 20px;
    margin: 10px auto 10px auto;
    max-width: 900px;
    max-height: 600px;
    background: #d1caca;

}

.result_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.result_item{
    margin: 5px;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.total{
    text-align: center;
   
    
}

.total h2{
    color: black;
}


.total h3{
    font-size: 32;
    font-weight: 800;
    color: crimson;
}